.new-category-container {
    width: 100%;
    height: 100%;
}

.new-category-container .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: 20px auto;
    border-radius: 8;

    @media screen and (max-width: 850px) {
      width: 90%;
    }
}


.new-category-container h1 {
    font-family: Helvetica-Bold;
    font-size: 18px;
    color: #333333;
    align-self: flex-start;
    margin-bottom: 15px;
    align-items: center;
    flex-direction: row;
}


.new-category-container .content form {
    width: 100%;
    max-width: 450px;
    align-self: flex-start;
    display: contents;
}

.new-category-container .content form input {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    font-family: 'Roboto', sans-serif;
}

.new-category-container .content form textarea {
    width: 100%;
    resize: none;
    min-height: 140px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}

.new-category-container .content form input, .new-category-container .content form textarea {
    margin-top: 8px;
}

.buttonCategory {
    width: 45%;
    height: 60px;
    background: #0B2031;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 500;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
    align-self: flex-end;
}

.buttonCategory:hover {
    filter: brightness(90%);
}
